<?xml version="1.0" encoding="utf-8"?>
<config>
    <bool name="enabled">1</bool>
    <bool name="background">0</bool>
    <string name="PROGINC">Keypad8</string>
    <string name="PROGDEC">Keypad5</string>
    <string name="PROGZER">None</string>
    <string name="NORMINC">Keypad9</string>
    <string name="NORMDEC">Keypad7</string>
    <string name="NORMZER">None</string>
    <string name="RADIINC">Keypad6</string>
    <string name="RADIDEC">Keypad4</string>
    <string name="RADIZER">None</string>
    <string name="TIMEINC">Keypad3</string>
    <string name="TIMEDEC">Keypad1</string>
    <string name="CIRCORB">None</string>
    <string name="TURNOUP">None</string>
    <string name="TURNODN">None</string>
    <string name="PAGEINC">Keypad0</string>
    <string name="PAGECON">Keypad2</string>
    <string name="HIDEWIN">P</string>
    <string name="FOCNENC">None</string>
    <string name="PLUSORB">None</string>
    <string name="MINUORB">None</string>
    <string name="PAGEX10">None</string>
    <string name="NEXTMAN">None</string>
    <string name="PREVMAN">None</string>
    <string name="MNVRDEL">None</string>
    <bool name="PAGER">1</bool>
    <bool name="TIME">1</bool>
    <bool name="SAVER">0</bool>
    <bool name="INCR">1</bool>
    <bool name="INPUT">1</bool>
    <bool name="TOOLS">1</bool>
    <bool name="GIZMO">0</bool>
    <bool name="ENCOT">0</bool>
    <bool name="EJECT">0</bool>
    <bool name="ORBIT">0</bool>
    <bool name="PATCH">1</bool>
    <int name="increment">0</int>
    <bool name="x10UTincrement">0</bool>
    <int name="scale">1000</int>
    <int name="sensitivity">0</int>
    <int name="mainWindowX">0</int>
    <int name="mainWindowY">0</int>
    <int name="keyWindowX">0</int>
    <int name="keyWindowY">0</int>
    <int name="presetsCount">0</int>
</config>